<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yayanheryanto.larismotor">

    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.sales.SalesMenuActivity" />
        <activity android:name=".view.owner.OwnerMenuActivity" />
        <activity android:name=".view.owner.MotorActivity" />
        <activity android:name=".view.owner.DetailMotorActivity" />
        <activity android:name=".view.owner.CustomerActivity" />
        <activity android:name=".view.LoginActivity" />
        <activity android:name=".view.owner.AddMotorActivity" />
        <activity android:name=".view.owner.EditMotorActivity" />
        <activity android:name=".view.owner.SalesActivity" />
        <activity android:name=".view.owner.AddSalesActivity" />
        <activity android:name=".view.owner.EditSalesActivity" />
        <activity android:name=".view.owner.MasterActivity" />
        <activity android:name=".view.owner.AddMerkActivity" />
        <activity android:name=".view.owner.EditMerkActivity" />
        <activity android:name=".view.owner.AddTipeActivity" />
        <activity android:name=".view.owner.EditTipeActivity" />
        <activity android:name=".view.owner.DetailSalesActivity" />
        <activity android:name=".view.pending.PendingTransaksiActivity" />
        <activity android:name=".view.pending.AddPendingBeliActivity" />
        <activity android:name=".view.pending.AddpendingJualActivity" />
        <activity android:name=".view.pending.EditPendingBeliActivity" />
        <activity android:name=".view.pending.DetailPendingBeliActivity" />
        <activity android:name=".view.pending.DetailPendingJualActivity" />
        <activity android:name=".view.pending.EditPendingJualActivity" />
        <activity android:name=".view.sales.EditProfileSalesActivity" />
        <activity android:name=".view.sales.MotorSalesActivity" />
        <activity android:name=".view.sales.AddMotorSalesActivity" />
        <activity android:name=".view.sales.EditMotorSalesActivity" />
        <activity android:name=".view.owner.EditProfileOwnerActivity" />
        <activity android:name=".view.owner.DetailCustomerActivity" />
        <activity android:name=".view.transaksi.TransaksiActivity" />
        <activity android:name=".view.transaksi.IsiDataActivity" />
        <activity
            android:name=".view.laporan.LaporanActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".view.laporan.FilterActivity" />
        <activity android:name=".view.owner.CariCustomerActivity" />
        <activity android:name=".view.owner.CariMotorActivity" />
        <activity android:name=".view.pending.SearchPendingJualActivity" />
        <activity android:name=".view.pending.SearchPendingBeliActivity" />
        <activity android:name=".view.pending.FilteredPendingJualActivity" />
        <activity android:name=".view.pending.FilteredPendingBeliActivity"></activity>
    </application>

</manifest>